.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.map-container {
  height: 100%;
  width: 100%;
}

/* Style Mapbox Draw controls */
.mapbox-gl-draw_ctrl-draw-btn,
.mapbox-gl-draw_ctrl-draw-btn:hover {
    background-color: #08ff08 !important;
    color: #333 !important;
    border: none !important;
}

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_trash {
    background-color: #08ff08 !important;
}

